@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    /* background: rgba(255, 144, 14, 0.1); */

    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

main {
    padding: 0px 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;

}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 102px;
}

.nav-anchor {
    margin-top: 63Px;
    display: flex;
}

.nav-anchor a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding: 15px;
    color: #424242;
}

.banner-section img {
    width: 100%;
    margin-bottom: 55px;
}

.banner-details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-title {

    font-weight: 700;
    font-size: 64px;
}

.banner-description {
    margin: 26px 0px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    margin-bottom: 50px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.features-section {
    display: flex;
    align-items: center;
}

.features-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 24px;
    margin: 75px 80px 155px 0px;
}

.features-title {
    font-weight: 500;
    font-size: 45px;
}

#font-design-1 {
    color: #727272;

}

.font-design-2,
.font-design-3 {
    font-weight: 700;
    font-size: 45px;

}

.font-design-3 {
    color: #FF900E;

}

.lovely-features {
    display: flex;
    margin-bottom: 116px;

}

.left-container {
    margin-right: 63px;
}

.title-vline {
    height: 120px;

    border-left: 5px solid #FF900E;
}


.lovely-features-title {
    font-weight: 700;
    font-size: 45px;
    margin-left: 21px;
}

.features-type-title {
    font-weight: 600;
    font-size: 20px;
}

.features-type {
    background: #FFFFFF;
    margin-bottom: 10px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 42px 30px 30px;
}

#experience {

    width: 300px;
    height: 150px;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 15px 15px;
    color: white;
    position: relative;
    margin: -340px 505px 250px 480px;
}

.exp-para {
    font-weight: 500;
    font-size: 25px;
    margin-top: -15px;

}

.title,
.p-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.descrip,
.p-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 100px;
}

.facts-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 180px;
}

.container-box {
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 10px;
}

.container-box:hover {
    transform: rotate(30deg);

}

.fact-font-1 {
    font-weight: 600;
    font-size: 45px;
}

.fact-font-2 {
    font-weight: 600;
    font-size: 20px;

}

.project-container {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.Projects-details {
    text-align: center;
    margin-right: 50x;
}

.projects-image img {
    width: 100%;
    border-radius: 10px;
}

.projects-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-left: 50px;

}

.sponsor-details {
    display: flex;
    justify-content: center;
    text-align: center;
}

.sponsor-title-descrip {
    margin-bottom: 50px;
}

.sponsor-partner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 169px;
}

.sponsor-partner img {
    filter: grayscale(100%);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 254px;
    background: #FFF4E7;
    border-radius: 8px;
    /* width: 1440px; */
    height: 100px;
}

.footer-description {
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}

@media screen and (max-width:480px) {
    main {
        padding: 0px 20px;
    }

    nav {
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;

    }

    .nav-title {
        margin-top: 20px;
        margin-bottom: -50px;
        font-size: 25px;
    }

    .nav-anchor {
        flex-direction: column;
    }

    .nav-anchor a {
        padding: 5px;

    }

    .banner-title {
        margin-top: 30px;
        font-size: 32px;
    }

    .banner-description,
    .descrip {
        font-size: 14px;
        margin-left: 15px;
    }

    .btn {
        width: 120px;
        height: 40px;
        font-size: 15px;
    }

    .banner-image {
        max-width: 480px;
    }

    .banner-image img {
        width: 100%;

    }

    .features-section {
        flex-direction: column-reverse;
    }

    .features-image {
        grid-template-columns: repeat(1, 1fr);
    }

    .features-title,
    .title,
    .p-title {
        font-size: 30px;
    }

    .faetures-details {
        padding: 20px;
    }

    .font-design-2,
    .font-design-3 {
        font-size: 30px;
    }

    .features-image img {
        justify-content: center;
        margin-right: 0px;
        margin-left: 100px;
    }

    .lovely-features {
        flex-direction: column;
    }

    .lovely-features-title {
        font-size: 32px;
        margin-left: 21px;
    }

    .title-vline {
        height: 90px;
        margin-left: 16px;
    }

    .right-container img {
        width: 100%;
    }

    #experience {

        width: 150px;
        height: 80px;
        background: #FF900E;
        border-radius: 8px;
        padding-top: 5px;
        text-align: center;
        color: white;
        position: relative;
        margin: -150px 30px 50px 120px;
    }

    .exp-para {
        font-weight: 500;
        font-size: 15px;
    }

    .facts-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .container-box {
        width: 150px;
        height: 150px;
        margin: 5px;
        border-radius: 4px;
        padding: 20px 16px;

    }

    .project-container {
        flex-direction: column;
    }

    .p-description,
    .sponsor-title-descrip {
        font-size: 14px;
    }

    .projects-image {
        margin-left: 28px;
        grid-column-gap: 5px;
    }

    .projects-image img {
        width: 80%;
    }

    .title,
    .descrip {
        margin-left: 20px;
    }

    .sponsor-title-descrip {
        padding: 0px 16px;
    }

    .sponsor-partner {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    .sponsor-partner img {
        padding: 20px;
    }

    footer {
        margin-top: 30px;
        margin-bottom: 0px;
        padding: 20px;
        text-align: center;

    }

    .footer-description {

        font-size: 14px;
    }
}